.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 90px;
  padding: 20px;
  color: white;
}

.Nav-header {
  background-color: #005172;
  color: #fff;
  height: 70px;
  padding: 20px;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar-brand {
    padding: 0px 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
